{% load static %}
{% load asjson %}
<div class="card">
    <script>
        var dotI = 0;
    </script>
    <div class="card-header">
        <h5>Legende</h5>
    </div>
    <div class="card-body" style="max-height: 120px; overflow-y: auto;">
        {% for e in legendData %}
            <script>
                var dotData{{ forloop.counter0 }} = {{ e | asjson}};
            </script>
            <svg class="legend" id="profileLegendSVG{{ forloop.counter0 }}" width="150" height="40"></svg>
            <script type="text/javascript" src="{% static 'myRDB/js/legends/profile-legend.js' %}"></script>
        {% endfor %}
    </div>
    <div class="card-footer">
        <p class="card-text">Farben beschreiben TF-Zugehörigkeit zu Applikation</p>
    </div>
</div>