<h2>
  Datenimport
</h2>
<p>
    Der Import einer CSV-Datei erfolgt in vier Schritten:
</p>
<ol class="alert bg-dark text-white" >
    <li class="ml-4">Wählen der Organisation, zu der die Daten hochgeladen werden
        und Hochladen der Datei zum Server</li>
    <li class="ml-4">
        Prüfen und Speichern neuer User oder von Usern,
        die ihre Organisation gewechselt haben oder die wieder aktiviert werden<br />
        sowie Bestätigen des Löschens nicht mehr erkannter User
    </li>
    <li class="ml-4">Gegebenenfalls manuelles Anpassen der User-Tabelle über Dialog</li>
    <li class="ml-4">Einarbeiten der einzelnen Berechtigungen in die Datenbanken</li>
</ol>
