<!DOCTYPE html>
{% load static %}
<html lang="de">
	<head>
		<meta charset="utf-8">
 		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body class="container bg-light">
        <div class="container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" aria-valuemin="0" aria-valuemax="100"
                     {% if proz > 0 %}
                         aria-valuenow="{{ proz }}"
                         style="width: {{ proz }}%;">{{ proz }}%
                     {% else %}
                         aria-valuenow="0"
                         style="width: 1%;">0%
                     {% endif %}
                </div>
            </div>
        </div>
	</body>
</html>
