{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">Import neuer Daten</li>
{% endblock breadcrumb %}

{% block title %}
	Import neuer Datem - {{ block.super }}
{% endblock %}


{% block content %}
	<div class="container">
        {% include 'rapp/import_anleitung.html' %}

        {% if form.non_field_errors %}
            <div class="container alert-danger bp-3">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form id="form" action="" method="post" name="import" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="container alert-primary py-3">
                <h4>Auswahl der Organisation und Hochladen der Datei</h4><hr />
                <p>
                    Vor dem Import müssen die folgenden, bekannten Schwächen der Importfiles behoben werden:
                </p>
                <ol>
                    <li>Speichern der Auswertungen -> Berichte -> Berichtsergebnisse -> Suche nach "BA-Rechte"</li>
                    <li>Öffnen mit Notepad++ oder ähnlichem Werkzeug, das regexp versteht
                        (<strong style="color: red;">nicht Excel wegen Unicode!</strong>)</li>
                    <li>Ersetze alle harten Zeilenumbrüche innerhalb von Kommentarfeldern:<br />
                        Ersetze alle &nbsp;&nbsp;&nbsp;
                        \n^([^xv])<br />
                        gegen &nbsp;&nbsp;&nbsp;
                        \1
                    </li>
                    <li>Ersetze alle einfachen Backslashes gegen doppelte:<br />
                        Ersetze alle &nbsp;&nbsp;&nbsp;
                        ([^\\])\\([^\\])<br />
                        gegen &nbsp;&nbsp;&nbsp;
                        \1\\\\\2
                    </li>
                </ol><hr />
   				<div class="form-group form-group-sm col-12">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">
                                    {{ field.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container bg-light py-3 mt-3">
                <div class="row my-3" id="loading2" style="display:none;">
                    <img src="{% static 'loading.gif' %}" alt="Lade..." />
                    <iframe width="1000" height="20"
                            style="border: 0; margin-top: 1rem; color: green;"
                            id="FrameID" src="{% url 'import_status' %}">
                    </iframe>
                </div>

                <button class="btn btn-outline-success mt-3" type="submit" name="hochladen" id="hochladen"
                        value="submit">Hochladen
                </button>
            </div>
        </form>
        <script type="text/javascript">
            (function (d) {
                d.getElementById('hochladen').onclick = function () {
                    d.getElementById('loading2').style.display = 'block';
                    d.getElementById('hochladen').disabled = true;
                    function timeout() {
                        t = setTimeout (function() {
                            document.getElementById('FrameID').contentWindow.location.reload(true);
                            timeout();
                        }, 1000);
                    }
                    timeout();
                };
            }(document));
       </script>
	</div>
{% endblock %}
