{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">Import neuer Daten - Schritt 2</li>
{% endblock breadcrumb %}

{% block title %}
	Import neuer Datem - {{ block.super }}
{% endblock %}


{% block content %}
	<div class="container">
        {% include 'rapp/import_ergebnis1.html' %}

        <p>&nbsp;</p>
        <div class="container alert-secondary">
            <h5>Liste neuer oder wiedergefundener User</h5>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">UserID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Team-#</th>
                            <th scope="col">Orga</th>
                            <th scope="col">UserID alt</th>
                            <th scope="col">Name alt</th>
                            <th scope="col">gelöscht</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in neueUser %}
                            <tr>
                                {% for elem in user %}
                                    <td>{{ elem }}</td>
                                {% endfor %}
                            </tr>
                        {% empty %}
                            <tr><td>Keine neuen User gefunden</td></tr>
                        {% endfor neueUser %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="container alert-secondary">
            <h5>Liste nicht mehr gefundener, zu löschender User</h5>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">UserID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Orga</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in geloeschteUser %}
                            <tr>
                                {% for elem in user %}
                                    <td>{{ elem }}</td>
                                {% endfor %}
                            </tr>
                        {% empty %}
                            <tr><td>Keine zu löschenden User gefunden</td></tr>
                        {% endfor neueUser %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>&nbsp;</p>

        <form method="post" name="import" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
           <div class="container bg-light py-3 mt-1">
               <div class="row">
                   <div class="col py-3 col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                        <button class="btn btn-outline-danger" type="submit"
                                name="hochladen" value="submit">User-Tabelle aktualisieren!</button>
                   </div>
                   <div class="col py-2 col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-9 bg-warning">
                       Achtung - Dieser Schritt kann nicht rückgängig gemacht werden.<br />
                       Bitte vorher die User-Einträge prüfen.
                   </div>
               </div>
            </div>
        </form>
	</div>
{% endblock %}
