{% extends 'base.html' %}

{% load gethash %}
{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item"><a href="{% url 'user_rolle_af' %}">User, Rollen und Arbeitsplatzfunktionen</a></li>
	<li class="breadcrumb-item active">Berechtigungskonzept - Rollen- und AF-Übersicht</li>
{% endblock breadcrumb %}

{% block title %}
	User, Rollen und Arbeitsplatzfunktionen - {{ block.super }}
{% endblock %}

{% block content %}
	{% include 'search_few.html' %} {# Lädt die Suchleiste und die Übersicht über die gefundenen User #}

	{% comment %}
		Die wesentlichen Elemente des Contexts:
		'usernamen' = Set
		'rollenmenge' = Set
		'rollen_je_username' = Liste mit (Namen und Liste der Rollen)

		Überschriften-Block:
			Erste Spaltenüberschrift ist "Name" als String, darunter werden die Usernamen liegen, daneben:
			die Liste der Rollen alle nebeneinander als Spaltenüberschriften

		Zeileninhalte:
			Für jeden User (nur die XV-User zeigen auf Rollen, deshalb nehmen wir nur diese)
				zeige den Usernamen sowie in jeder zu dem User passenden Rolle die Art der Verwendung (S/V/A)
					in Kurz- oder Langversion, je nach Flag

		Dann gehe über alle Namen
			über alle Rollen aus der Rollen-Gesamtliste (in der Reihenfole, wie sie in der Überschriftenzeile stehen)
				und gibt erst mal ein Kreuz aus, wenn da was trifft.
				Das muss später noch der eigentliche Zweck werden, aber den haben wir noch nicht im Context.

	{% endcomment %}
	<div class="container-fluid pb-5 mb-5">
		{% if rollenmenge and usernamen and rollen_je_username %}
			<div class="col-12 mt-4">
				{% if form.non_field_errors %}
					<p>{{ form.non_field_errors }}</p>
				{% endif %}
			</div>
			<div class="container">
				<div  class="row justify-content-md-center">
					<div class="col">
						<a href="{% url 'uhr_matrix_csv' %}?{% for key,value in request.GET.items %}{{ key }}={{ value }}&{%endfor %}"
						   class="btn btn-outline-primary btn-sm" role="button"
						   target="_blank">Download csv ausführlich
						</a>
						<a href="{% url 'uhr_matrix_csv' %}kompakt/?{% for key,value in request.GET.items %}{{ key }}={{ value }}&{%endfor %}"
						   class="btn btn-outline-primary btn-sm" role="button"
						   target="_blank">Download csv kompakt
						</a>
					</div>
				</div>
			</div>

			<div>
				<table class="table table-striped table-sm">
					<thead>
						<tr class="bg-primary text-left">
							<th width="10%">Name</th>
							<th width="10%">Teams</th>
							{% for rolle in rollenmenge %}
								<th><small>{{ rolle }}</small></th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for user in usernamen %}
						<tr>
							<td>
								{{ user }}
							</td>
							<td>
								{% for team in teams_je_username|hash:user %}
									<small>
										{{ team }}{% if not forloop.last %},<br />{% endif %}
									</small>
								{% endfor %}
							</td>
							{% for rolle in rollenmenge %}
								<td>
									<small>
										{{ rollen_je_username|hash:user|finde:rolle }}
									</small>
								</td>
							{% endfor %}
						</tr>
					{% endfor usernamen %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="col-12 mt-4">
				Keine Daten gefunden
			</div>
		{% endif %}
	</div>
{% endblock content %}
