{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">User, Rollen und Arbeitsplatzfunktionen</li>
{% endblock breadcrumb %}

{% block title %}
	Filter - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
		<form method="get">
			{% csrf_token %}

			<div class="well">
			   {% comment for field in filter.form.visible_fields %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">{{ field.label }}, {{ field.name }}</label>
							{{ field | add_class:'form-control' }}
						{% for error in field.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% endfor %}
				{% endcomment %}

				<div class="row">

					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
						<label for="{{ filter.form.userid_name__userid.id_for_label }}">UserID</label>
						{%comment%}{{ kein_filter.form.userid_name__userid.label_tag }}{%endcomment%}
						{% render_field filter.form.userid_name__userid class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label for="{{ filter.form.userid_name__name.id_for_label }}">Name beginnt mit</label>
						{% render_field filter.form.userid_name__name class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<label for="{{ filter.form.userid_name__orga.id_for_label }}">Team</label>
						{% render_field filter.form.userid_name__orga class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						{{ filter.form.enthalten_in_af.label_tag }}
						{% render_field filter.form.enthalten_in_af class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
						{{ filter.form.tf.label_tag }}
						{% render_field filter.form.tf class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label for="{{ filter.form.userid_name__zi_organisation.id_for_label }}">ZI-Organisation</label>
						{% render_field filter.form.userid_name__zi_organisation class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<label for="{{ filter.form.geloescht_for_label }}">Recht gelöscht</label>
						{% render_field filter.form.geloescht class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<label for="{{ filter.form.userid_name__geloescht_for_label }}">User gelöscht</label>
						{% render_field filter.form.userid_name__geloescht class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
						{{ filter.form.plattform.label_tag }}
						{% render_field filter.form.plattform class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
						{{ filter.form.modell__name_af_neu.label_tag }}
						{% render_field filter.form.modell__name_af_neu class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
						{{ filter.form.modell__name_gf_neu.label_tag }}
						{% render_field filter.form.modell__name_gf_neu class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
						<label for="pagesize">Zeilen pro Seite</label>
						<input class="input" id="pagesize" name="pagesize" type="text" width="5" maxlength="5"
						{% if pagesize %}
		 					value="{{ pagesize }}"
						{% endif %}
						/>
					</div>
				</div>

				{% comment %} Suche und Abbruch-Buttons {% endcomment %}
				<div class="form-group marin-top-3">
						<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span> Suche
						</button>
						<a href="{% url 'home' %}" class="btn btn-default">Abbruch</a>
				</div>
			</div>
		</form>
	</div>

	{{ meineTabelle }}

	<p></p><p>
	{% for row in pages %}
		{{ row.enthalten_in_af }},
		"{{ row.userid_name.name }}",

		{% for userid in row.userid_name.  %}
			{{ userid }},
		{% empty %}
			<p>Keine einzelnen UserIDs</p>
		{% endfor %}
	{% empty %}
		<p>Keine Treffer</p>
	{% endfor %}

	{% for r in rollen_liste %}
		{{ r }}, <br />
	{% empty %}
		<p>Keine Treffer</p>
	{% endfor %}

	{% for u in user_liste %}
		{{ u }}, <br />
	{% empty %}
		<p>Keine Treffer</p>
	{% endfor %}

    {% include "paginator.html" %}

{% endblock content %}
