{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item"><a href="{% url 'user_rolle_af' %}">User, Rollen und Arbeitsplatzfunktionen</a></li>
	<li class="breadcrumb-item active">Berechtigungskonzept - Rollen- und AF-Übersicht</li>
{% endblock breadcrumb %}

{% block title %}
	User, Rollen und Arbeitsplatzfunktionen - {{ block.super }}
{% endblock %}

{% block content %}
	{% include 'search_few.html' %} {# Lädt die Suchleiste und die Übersicht über die gefundenen User #}

	<div class="container-fluid">
		{% if rollenMenge %}
			<div class="col-12 mt-4">
				{% if form.non_field_errors %}
					<p>{{ form.non_field_errors }}</p>
				{% endif %}
			</div>
			<div class="container">
				<div class="row justify-content-md-center">
					<a href="{% url 'uhr_konzept_pdf' %}?{% for key,value in request.GET.items %}{{ key }}={{ value }}&{%endfor %}"
					   class="btn btn-outline-primary btn-sm" role="button"
					   target="_blank">Erzeuge PDF
					</a>
				</div>
			</div>

			<div>
				<table class="table table-striped table-sm">
					<thead>
						<tr class="bg-primary text-left">
							<th colspan="3">Rollennname</th>
							<th colspan="1">Beschreibung</th>
							<th colspan="1">System</th>
						</tr>
						<tr my-0 py-0> {# Erzeuge die Tabelle mit 5 Spalten, damit wir nachher geschachtelte Sichten erhalten #}
							<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
						</tr>
					</thead>
					<tbody>
						{% for rolle in rollenMenge %}
							<tr>
								<td colspan="3">
									{{ rolle.rollenname }}
								</td>
								<td>
									{{ rolle.rollenbeschreibung }}
								</td>
								<td>
									{{ rolle.system }}
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">
									<div class="row">
										<div class="form-control bg-light text-success col-4">AF</div>
										<div class="form-control bg-light text-success col-1 text-center">Muss</div>
										<div class="form-control bg-light text-success col-1 text-center">Einsatz</div>
										<div class="form-control bg-light text-success col-5">Anmerkung zur AF</div>
										{% for meineaf in rolle.tblrollehataf_set.all %}
											<div class="form-control col-4">{{ meineaf.af }}</div>
											<div class="form-control col-1 text-center">
												{% if meineaf.mussfeld %}
													<img src="{% static 'checkbox-checked.png' %}"
														 alt="checkbox checked" height="15" width="15">
												{% else %}
													<img src="{% static 'checkbox-blank.png' %}"
														 alt="checkbox checked" height="15" width="15">
												{% endif %}
											</div>
											<div class="form-control select col-1 text-center">
												<small>{{ meineaf.get_einsatz_display }}</small>
											</div>
											<div class="form-control col-5">{{ meineaf.bemerkung }}</div>
										{% empty %}
											<div class="form-control text-danger col-12">Rolle ist keine AF zugeordnet</div>
										{% endfor rolle.tblrollehataf_set.all %}
									</div>
								</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
						{% endfor userHabenRollen %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="col-12 mt-4">
				Keine Rollen gefunden
			</div>
		{% endif %}
	</div>
{% endblock content %}
