{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">User, Rollen und Arbeitsplatzfunktionen</li>
{% endblock breadcrumb %}

{% block title %}
	User, Rollen und Arbeitsplatzfunktionen - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="container">
		<form method="get">
			<div class="well">
				<div class="row">
					<div class="form-group form-group-sm col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label class="control-label" for="{{ filter.form.name.id_for_label }}">Name beginnt mit</label>
						{% render_field filter.form.name class="form-control" %}
					</div>
					<div class="form-group form-group-sm col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label class="control-label" for="{{ filter.form.orga.id_for_label }}">Team</label>
						{% render_field filter.form.orga class="form-control" %}
					</div>
					{% comment %}
					<div class="form-group form-group-sm col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label class="control-label" for="{{ filter.form.zi_organisation.id_for_label }}">ZI-Organisation</label>
						{% render_field filter.form.zi_organisation class="form-control" %}
					</div>
					{% endcomment %}
					<div class="form-group form-group-sm col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label class="control-label" for="{{ filter.form.gruppe.id_for_label }}">Abteilung/Gruppe</label>
						{% render_field filter.form.gruppe class="form-control" %}
					</div>

					<div class="form-group form-group-sm col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
						<label class="control-label" for="pagesize">Zeilen pro Seite</label>
						<input type="text" class="form-control" placeholder="# Zeilen/Seite"
							   id="pagesize" name="pagesize" type="text" maxlength="5"
							   {% if pagesize %} value="{{ pagesize }}" {% endif %} />
					</div>
					<div class="form-group-sm col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
						<label class="control-label" for="suche">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<button type="submit" class="btn btn-primary" id="suche">
							<span class="glyphicon glyphicon-search"></span> Suche
						</button>
						<a href="{% url 'home' %}" class="btn btn-default">Abbruch</a>
					</div>
				</div>

				{# Ergebnis der Filterung: Liste gefundener User mit Änderungs-Button #}
				{% for row in pages %}
					{% ifchanged row.name %}
						<div class="row">
							<div class="col-6 col-sm-6 col-md-2 col-lg-1 col-xl-1">
								<a href="{% url 'user_rolle_af_parm' row.pk %}
										?{% for key,value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}"
									class="btn btn-outline-primary btn-sm"
									role="button">ändern</a>
							</div>
							<div class="col-6 col-sm-6 col-md-2 col-lg-1 col-xl-1">
								{{ row.userid }}
							</div>
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
								{{ row.name }}
							</div>
						</div>
					{% endifchanged %}
				{% empty %}
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						Keine Treffer
					</div>
				{% endfor %}
			</div>
		</form>
		<div class="row mb-5"></div>
	</div>

	{# Die spezifischen Daten können verändert werden, deshalb als POST-Formular #}

	<div class="container">
    	{% if userHatRolle_liste %}
			<form method="post">
				<div class="card bg-faded">
					<div class="card-block">
						<div class="col-12 mt-4">
							<h3>Rollen zum User {{ selektierter_name }}</h3>
						</div>
					</div>
					<table class="table table-bordered ">
						<thead>
							<tr class="bg-primary text-center">
								<th>
									<button class="btn btn-outline-important btn-sm " type="button"
											data-toggle="collapse"
											aria-expanded="false"
											data-target=".multi-collapse"
											aria-controls="
											  {% for rolle in userHatRolle_liste %} rolle_{{ rolle }} {% endfor %}"
									 >ID
									</button>
								</th>
								<th>Rollenname</th>
								<th>System</th>
								<th>Zuordnung ab</th>
							</tr>
						</thead>
						<tbody>
							{% for rolle in userHatRolle_liste %}
								<tr>
									<td width="10%" class="text-center">
										<button class="btn btn-outline-primary btn-sm" type="button"
												data-toggle="collapse" data-target="#rolle_{{ rolle }}"
												aria-expanded="false" aria-controls="rolle_{{ rolle }}">
											{{ rolle }}
										</button>
									</td>
									<td>
										<input type="text" class="form-control col-12 col-sm-6 col-md-4 col-lg-4 col-xl-12"
											   placeholder="Rollenname"
											   id="id_rollenname" name="rollenname" maxlength="100"
											   value="{{ rolle.rollenname }}" />
									</td>
									<td>
										<input type="text" class="form-control" placeholder="System"
											   id="id_system" name="system" maxlength="150"
											   value="{{ rolle.rollenname.system }}" />
									</td>
									<td width="16%">
										<input type="text" class="form-control" disabled="disabled"
											   id="id_datum" name="datum"
											   value="{{ rolle.rollenname.datum|date }}" />
									</td>
								</tr>
								<tr>
									<td colspan="4" class="mt-1 mb-1 pt-1 pb-1">
										<div class="collapse multi-collapse" id="rolle_{{ rolle }}">
											<table class="table">
												<thead>
													<tr class="bg-secondary text-left">
														<th>Rollenname</th>
														<th>AF</th>
														<th>AF-ID in Rolle</th>
													</tr>
												</thead>
												<tbody>
													{% for meinaf in rolle.rollenname.tblrollehataf_set.all %}
														<tr>
															<td>{% ifchanged meinaf.rollenname %}{{ meinaf.rollenname }}{% endifchanged %}</td>
															<td>{{ meinaf.af }}</td>
															<td>{{ meinaf.rollenmappingid }}</td>
														</tr>
													{% empty %}
														Nix gefunden!?
													{% endfor rolle.rollenname.tblrollehataf_set.all %}
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							{% endfor userHatRolle_liste %}
						</tbody>
					</table>
				</div>
			</form>
	    {% else %}
			{% if selektierter_name %}
				<div class="col-12 bg-warning">User {{ selektierter_name }} ist noch keine Rolle zugeordnet</div>
			{% else %}
				<div class="col-12">
					Kein User selektiert
				</div>
			{% endif %}
			</div>
		{% endif %}
	{% include "paginator.html" %}
{% endblock content %}
