{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">User, Rollen und Arbeitsplatzfunktionen</li>
{% endblock breadcrumb %}

{% block title %}
	User, Rollen und Arbeitsplatzfunktionen - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
		<form method="get">
			<div class="well">
				{% comment %}
					{% for field in filter.form.visible_fields %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}">{{ field.label }}, {{ field.name }}</label>
								{{ field | add_class:'form-control' }}
							{% for error in field.errors %}
								<span class="help-block">{{ error }}</span>
							{% endfor %}
						</div>
					{% endfor %}
				{% endcomment %}

				<div class="row">
					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label for="{{ filter.form.name.id_for_label }}">Name beginnt mit</label>
						{% render_field filter.form.name class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label for="{{ filter.form.orga.id_for_label }}">Team</label>
						{% render_field filter.form.orga class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label for="{{ filter.form.zi_organisation.id_for_label }}">ZI-Organisation</label>
						{% render_field filter.form.zi_organisation class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label for="{{ filter.form.gruppe.id_for_label }}">Abteilung/Gruppe</label>
						{% render_field filter.form.gruppe class="form-control" %}
					</div>

					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
						<label for="pagesize">Zeilen pro Seite</label>
						<input class="input" id="pagesize" name="pagesize" type="text" maxlength="5"
						{% if pagesize %}
		 					value="{{ pagesize }}"
						{% endif %}
						/>
					</div>

					{% comment %} Suche und Abbruch-Buttons {% endcomment %}
					<div class="form-group marin-top-3">
							<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-search"></span> Suche
							</button>
							<a href="{% url 'home' %}" class="btn btn-default">Abbruch</a>
					</div>
				</div>

				<div class="well">
					<div class="row">
						<div class="btn-group-vertical btn-group-sm ">
							{% for row in pages %}
								{% ifchanged row.name %}
									<button type="button" class="btn btn-outline-primary">
										<div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
											{{ row.name }}
										</div>
									</button>
								{% endifchanged %}
							{% empty %}
								<div class="row">
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
										Keine Treffer
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

    {% include "paginator.html" %}

{% endblock content %}
