{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{ % load render_table from django_tables2 %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">User, Rollen und Arbeitsplatzfunktionen</li>
{% endblock breadcrumb %}

{% block title %}
	Filter - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
		<form method="get">
			<div class="well">
				{ % endcomment %}
					{% for field in filter.form.visible_fields %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}">{{ field.label }}, {{ field.name }}</label>
								{{ field | add_class:'form-control' }}
							{% for error in field.errors %}
								<span class="help-block">{{ error }}</span>
							{% endfor %}
						</div>
					{% endfor %}
				{ % endcomment %}

				<div class="row">

					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<label for="{{ filter.form.userid__name.id_for_label }}">Name beginnt mit</label>
						{% render_field filter.form.userid__name class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-5">
						<label for="{{ filter.form.userid__orga.id_for_label }}">Team</label>
						{% render_field filter.form.userid__orga class="form-control" %}
					</div>
					<div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
						<label for="pagesize">Zeilen pro Seite</label>
						<input class="input" id="pagesize" name="pagesize" type="text" maxlength="5"
						{% if pagesize %}
		 					value="{{ pagesize }}"
						{% endif %}
						/>
					</div>

					<div class="form-group col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
						<label for="{{ filter.form.userid__zi_organisation.id_for_label }}">ZI-Organisation</label>
						{% render_field filter.form.userid__zi_organisation class="form-control" %}
					</div>

					<div class="form-group col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<label for="{{ filter.form.userid__geloescht_for_label }}">User gelöscht</label>
						{% render_field filter.form.userid__geloescht class="form-control" %}
					</div>
				</div>

				<div class="row">
					<table class="table table-striped">
						<thead></thead>
						<tbody>
							{% for row in filter.userid %}
								<tr>
									<td>
										some radio button
									</td>
									<td>
										{{ row.userid }}
									</td>
									<td>
										{{ row.userid__userid }}
									</td>
									<td>
										{{ row.userid__name }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				{% comment %} Suche und Abbruch-Buttons {% endcomment %}
				<div class="form-group marin-top-3">
						<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span> Suche
						</button>
						<a href="{% url 'home' %}" class="btn btn-default">Abbruch</a>
				</div>
			</div>
		</form>
	</div>

    {% include "paginator.html" %}

{% endblock content %}
