<!DOCTYPE html>
{% load static %}
<html lang="de">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Faster+One" rel="stylesheet">
 		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<style>
		    @page {
        	size: A4;
        	margin: 1cm;
   			}
			#pdfdruck {
				width: 100%;
			}

			#pdfdruck td, #pdfdruck th {
				border: 1px solid #ddd;
				padding: 1px;
			}

			#pdfdruck tr:nth-child(even){background-color: #f2f2f2;}

			#pdfdruck th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #4CAF50;
				color: white;
			}
		</style>
	</head>
	<body>

		<h1>User, Rollen und Arbeitsplatzfunktionen</h1>

		{% if rollenMenge %}
			<div>
				<table repeat="1" id="pdfdruck2">
					<thead>
						<tr>
							<th colspan="2" style="text-align: left;">Rollennname</th>
							<th colspan="2" style="text-align: left;">Beschreibung</th>
							<th colspan="1" style="text-align: left;">System</th>
						</tr>
					</thead>
					<tbody>
						{% for rolle in rollenMenge %}
							<tr><td>&nbsp;</td></tr>
							<tr>
								<td colspan="2">
									{{ rolle.rollenname }}
								</td>
								<td colspan="2">
									{{ rolle.rollenbeschreibung }}
								</td>
								<td colspan="1">
									{{ rolle.system }}
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">
									<table repeat="1" id="pdfdruck2">
										<head>
											<tr>
												<td width="30%"><strong>AF</strong></td>
												<td width="5%"><strong>Muss</strong></td>
												<td width="15%"><strong>Einsatz</strong></td>
												<td width="50%"><strong>Anmerkung zur AF</strong></td>
											</tr>
										</head>
										<tbody>
											{% for meineaf in rolle.tblrollehataf_set.all %}
												{% if forloop.counter0 >= 60 %}
													{% if forloop.counter0 == 60 %}
														<tr>
															<td colspan="4">
																<strong style="color: red;">
																	Achtung, die Rolle enthält mehr als
																	{{ forloop.counter0 }} Elemente.
																	Es fehlen noch {{ forloop.revcounter }} Zeilen.
																</strong>
															</td>
														</tr>
													{% endif %}
												{% else %}
													<tr>
														<td>{{ meineaf.af }}</td>
														<td class="text-center">
															{% if meineaf.mussfeld %}
																<img src="static/checkbox-checked.jpg"
																	 alt="checkbox checked" height="10" width="10">
															{% else %}
																<img src="static/checkbox-blank.jpg"
																	 alt="checkbox checked" height="10" width="10">
															{% endif %}
														</td>
														<td class="text-center">
															<small>{{ meineaf.get_einsatz_display }}</small>
														</td>
														<td>{{ meineaf.bemerkung }}</td>
													{% endif %}
												</tr>
											{% empty %}
												<tr>
													<td class="text-danger">
														Dieser Rolle sind keine Arbeitsplatzfunktionen zugeordnet
													</td>
												</tr>
											{% endfor rolle.tblrollehataf_set.all %}
										</tbody>
									</table>
								</td>
						{% endfor userHabenRollen %}
					</tbody>
				</table>
			{% else %}
				<div class="text-danger">
					<p>
						Keine Rollen gefunden
					</p>
				</div>
			{% endif %}
		</div>
	</body>
</html>
