{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
	<li class="breadcrumb-item active">Aufsetzen der Datenbank</li>
{% endblock breadcrumb %}

{% block title %}
	Import neuer Datem - {{ block.super }}
{% endblock %}


{% block content %}
	<div class="container">
        <h2>
            Aufsetzen der Datenbank mit <em>Stored Procedures</em>
        </h2>
        <p>
            <strong>ACHTUNG!
        </p>
        <p>
            Diese Funktion sollte nur angewandt werden, wenn einer der folgenden Fälle zutrifft:
        </p>
        <ul>
            <li>Die Datenbank wird komplett neu aufgesetzt</li>
            <li>Das Importieren neuer CSV-Listen führt nachweislich in den Stored Procedures zu harten Fehlern (z.B. fehlende SP)</li>
            <li>Die Quellen der Stored Procedures wurden in 'stored_procedures.py' geändert</li>
        </ul></strong>
        <p>
            Ansonsten: Finger weg, das bringt hier nichts!
        </p>

        {% if form.non_field_errors %}
            <div class="container alert-danger bp-3">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post" name="import" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for zeile in daten %}
                <div class="form-group form-group-sm col-12 {% if not test123 %}bg-success{% else %}bg-danger{% endif %}">
                    <ul>
                        <li>
                            {{ zeile }} war {% if test123 %}nicht {% endif %}erfolgreich.
                            {% if test123 %}{{ test123 }}{% endif %}
                        </li>
                    </ul>
                </div>
            {% endfor %}
                <div class="container bg-light py-3 mt-3">
                    <button class="btn btn-outline-success" type="submit" name="hochladen" value="submit">Hochladen</button>
                </div>
            </form>
	</div>
{% endblock %}
