{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Start</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'userliste' %}">UserID-Liste</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user-update' tbluseridundname.id %}">UserID-Detail</a></li>
    <li class="breadcrumb-item active">UserID löschen</li>
{% endblock breadcrumb %}

{% block title %}
	UserID-Liste - {{ block.super }}
{% endblock %}

{% block content %}

    <h1>User-Eintrag löschen</h1>

    <p>Sie löschen gerade den folgenden User-Eintrag: {{ object }}?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" action="" value="Ja, bitte löschen." />
        <div>
            <p>&nbsp;</p>
            <a href="{% url 'userliste' %}">Nein, abbrechen!</a>
        </div>
    </form>

{% endblock %}
