.sidebar-nav {
    margin-top: 3em;
    padding: 0;
    padding-bottom: 4em;
    list-style: none;
}

strong {
	color: darkgreen;
}

.col-sm-2 {
    background: #2222;
}

body {
    color: #000055;
}

.login {
    color: magenta;
}

# Table DIVs from https://html-cleaner.com/features/replace-html-table-tags-with-divs/

.rTable {
    display: table;
    # width: 100%;
}
.sTable {
    display: table;
    # width: 200%;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.sTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}

.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}
.rTableHead, .rTableFoot{
    background-color: #DDD;
    font-weight: bold;
}
.rTableCell, .rTableHead {
    border: 0px solid #999999;
    float: left;
    height: 2em;
    #overflow: hidden;
    padding: 3px 1.8%;
    width: 50%;
}
.rTable:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.knappeTabelle {
    padding-right: 1rem !important;
    padding-top:   0rem !important;
    padding-left:  0rem !important;
    padding-bottom:0rem !important;
    color: #0B173B;
}

-breiteTabelle {
	white-space: nowrap;
	overflow: scroll;
}

.vllzulangertext {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
