*/__pycache__
*/*/__pycache__
db.sqlite3
*.pyc
*.swp
__pycache__
.directory
my3.6venv
.idea/workspace.xml
.idea/*
01\ Mitarbeiterberechtigungen\ ZI-AI-BA*.csv
.env
*.xmi
*.mdj
other_files/RechteDB 20180825 Erster Export der Neuimplementierung.sql.gz
Test.csv
rapp_0.0.1.tar*
