# All requirement needed for app "rapp" which means RechteDB-APP

django >= 2.0.7
mysqlclient >= 1.3.13
docutils >= 0.14
django-filter >= 2.0.0

# Images are ${Project}./myvenv/lib/python3.5/site-packages/django/contrib/gis/static/gis/img
