# All requirement needed for app "rapp" which is short for RechteDB-APP

# Step 1: Standard
django >= 2.1

# Step 2: Decoupling sensitive infos from GIT repo
python-decouple >= 3.1
dj-database-url >= 0.5.0
mysqlclient >= 1.3.13

django-bootstrap4 >= 0.0.6
#requests >= 2.19.1
docutils >= 0.14
django-filter >= 2.0.0
django-widget-tweaks >= 1.4.2
django-tables2 >= 1.21.2
django-debug-toolbar >= 1.9.1
django-import-export >= 1.1.0
tblib >= 1.3.2

# Images are at ${Project}./myvenv/lib/python3.5/site-packages/django/contrib/gis/static/gis/img
