{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Benutzername und Passwort passen nicht - bitte korrigieren.</p>
{% endif %}

<div>&nbsp;</div>

{% if next %}
    {% if user.is_authenticated %}
    <p>Dieser Benutzer hat auf di Seite keinen Zugriff.
        Bitte melden Sie sich mit einem anderen User an oder wenden Sie sich an Ihren Administrator.</p>
    {% else %}
    <p>Für diesen Teil der Anwendung müssen Sie sich anmelden.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    <div class="rTable">
        <div class="rTableBody">
            <div class="rTableRow">
                <div class="rTableCell">{{ form.username.label_tag }}</div>
                <div class="rTableCell">{{ form.username }}</div>
                <div class="rTableCell">&nbsp;</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell">{{ form.password.label_tag }}</div>
                <div class="rTableCell">{{ form.password }}</div>
                <div class="rTableCell">&nbsp;</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"><input type="submit" value="login" /></div>
                <div class="rTableCell"><input type="hidden" name="next" value="{{ next }}" /></div>
                <div class="rTableCell">&nbsp;</div>
            </div>
        </div>
    </div>

</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">&nbsp;Passwort verdaddelt?</a></p>

{% endblock %}