{% load static %}
<div class="card">
    <div class="card-header">
        <h5>Transferliste <span id="transfer_badge" class="badge badge-success">{{ transfer_list_count }}</span></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="transfer_table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">TF</th>
                        <th scope="col">GF</th>
                        <th scope="col">AF</th>
                        <th scope="col">ROLLE</th>
                        <th scope="col">USER</th>
                        {# <th scope="col">Rolle</th> #}
                    </tr>
                </thead>
                <tbody>
                    {% for row in transfer_list_table_data %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script type="text/javascript">
                var user_pk = {{ user.pk }};
                var CSRF_TOKEN = "{{ csrf_token }}";
                var transfer_table;
            </script>
            <script type="text/javascript" src="{% static 'myRDB/js/data_tables/transfer_data_table.js' %}"></script>

        </div>
    </div>
    <div class="card-footer">
        <p class="card-text"> Übertragene Rechte werden hier angezeigt</p>
    </div>
</div>