{% extends "base_generic.html" %}

{% block content %}
	<h1>BA-Liste</h1>
    <h2>Gefiltert mit allen aktiven Rechten jedes Users von ZI-AI-BA</h2>

	{% if ba_list %}
        <table width="100%">
            <th>TF</th>
            <th>AF</th>
            <th>GF</th>
            <th>UserID, Name</th>
            <th>weiteres</th>

            {% for recht in ba_list %}
                <tr>
                    <td> <a href="{{ recht.get_absolute_url }}">{{ recht.tf }} </a> </td>
                    <td>{{recht.enthalten_in_af}}</td>
                    <td>{{recht.gf}}</td>
                    <td>{{recht.userid_name}}</td>
                    <td>leer</td>
                </tr>
        {% endfor %}

        </table>
    {% else %}
        <p>Es gibt keine Rechte in der Liste.</p>
    {% endif %}
{% endblock %}
