{% extends 'base_generic.html' %}

{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block content %}

	<form method="get">
		<div class="well">


           {% comment for field in filter.form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}, {{ field.name }}</label>
                        {{ field | add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            {% endcomment %}

			<div class="row">

				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 col-xl-1">
                    <label for="{{ filter.form.userid_name__userid.id_for_label }}">UserID</label>
                    {%comment%}{{ kein_filter.form.userid_name__userid.label_tag }}{%endcomment%}
					{% render_field filter.form.userid_name__userid class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-4 col-xl-1">
                    <label for="{{ filter.form.userid_name__name.id_for_label }}">Name beginnt mit</label>
					{% render_field filter.form.userid_name__name class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-1">
                    <label for="{{ filter.form.userid_name__orga.id_for_label }}">Team</label>
					{% render_field filter.form.userid_name__orga class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.enthalten_in_af.label_tag }}
					{% render_field filter.form.enthalten_in_af class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					{{ filter.form.tf.label_tag }}
					{% render_field filter.form.tf class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                    <label for="{{ filter.form.userid_name__zi_organisation.id_for_label }}">ZI-Organisation</label>
					{% render_field filter.form.userid_name__zi_organisation class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.geloescht.label_tag }}
					{% render_field filter.form.geloescht class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.plattform.label_tag }}
					{% render_field filter.form.plattform class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
					{{ filter.form.modell__name_af_neu.label_tag }}
					{% render_field filter.form.modell__name_af_neu class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
					{{ filter.form.modell__name_gf_neu.label_tag }}
					{% render_field filter.form.modell__name_gf_neu class="form-control" %}
				</div>

				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
					<label for="paginator_id">Pagination</label>
					{% render_field ddddpagesize class="form-control" %}
				</div>

			</div>

            {% comment %} Suche und Abbruch-Buttons {% endcomment %}

            <div class="form-group marin-top-3">
                    <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Suche
                    </button>
                    <a href="{% url 'index' %}" class="btn btn-default">Abbruch</a>
            </div>
        </div>
	</form>

    {% comment %} Die alte Ergebnismenge, manuell zu einer Tabelle zusammengestellt {% endcomment %}
	<table class="table table-bordered vllzulangertext">
		<thead>
			<tr class="bg-primary">
				<th>Name</th>
				<th>Team</th>
				<th>TF</th>
				<th>AF</th>
				<th>GF</th>
				<th>ZI-Orga</th>
				<th>Plattform</th>
				<th>AF Neu</th>
				<th>GF Neu</th>
				<th>Gelöscht</th>
			</tr>
		</thead>
		<tbody>
			{% for row in pages %}
				<tr>
					<td class="vllzulangertext knappeTabelle">{{ row.userid_name }}</td>
                    <td class="vllzulangertext knappeTabelle">{{ row.userid_name.orga }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.tf }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.enthalten_in_af }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.gf }}</td>
                    <td class="vllzulangertext knappeTabelle">{{ row.userid_name.zi_organisation }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.plattform }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.modell.name_af_neu }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.modell.name_gf_neu }}</td>
					<td class="vllzulangertext knappeTabelle text-center">{{ row.geloescht }}</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="5">Keine Treffer</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    {% comment %} Ergebnismenge über table.py eigen-konfigurierbar { % endcomment %}
        <div class="breiteTabelle" style="white-space: nowrap;">
            { % comment %} render_table meineTabelle { % endcomment %}
            {% render_table table %}
        </div>
    {% endcomment %}

    {% comment %}
        Ab hier geht es nur noch um Paginierung
        <ToDo> Inhalte, die nicht paginiert werden müssen, brauchen die Footerzeile nicht </ToDo>
    {% endcomment %}

    <div class = "container-fluid">
        <div class = "col-12 col-md-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination">

              <li class="page-item">    <!-- Jump to First Page -->
                {% if pages.number != 1 %}
                   <li class="previous">
                      <a href="?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                        <span aria-hidden="true">&laquo;</span></a>
                   </li>
                {% else %}
                    <li class="previous disabled">
                        <a><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Previous Page -->
                {% if pages.has_previous %}
                   <li class="previous">
                    <a href="?page={{ pages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">‹</a></li>
                   <span aria-hidden="true">‹</span></a>
                {% else %}
                    <li class="previous disabled"><a>‹</a>
                {% endif %}
              </li>

              {% if pages.has_previous %}
              <li class="page-item">  <!-- Show previous set of page numbers -->
                  <li class="previous">
                    <a class="skip_prev" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">...</a></li>
                    </li>
              {% else %}
                    <li class="next disabled"><a>...</a>
                    </li>
              {% endif %}
              </li>

              {% for i in "12345" %}
            <!-- Change the range ("12345") according to your choice to show numbers -->
                <li class="pg" data = {{i}}><a class="page_number" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a></li>
              {% endfor %}

              {% if pages.has_next %}
              <li class="page-item">  <!-- Show next set of page numbers -->
                  <li class="previous">
                    <a class="skip_next" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">...</a>
                  </li>
              {% else %}
                    <li class="next disabled"><a>...</a>
                    </li>
              {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Next Page -->
                {% if pages.has_next %}
                    <a class="previous" href="?page={{ pages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">›</a></li>
                {% else %}
                    <li class="next disabled"><a>›</a></li>
                {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Last Page -->
                {% if pages.number != pages.paginator.num_pages %}
                  <li class="previous">
                    <a class="previous" href="?page={{ pages.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">»</a></li>
                {% else %}
                    <li class="next disabled"><a>›</a></li>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
    </div>

{% endblock %}
