{% extends 'base_generic.html' %}

{% load static %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block content %}

	<form method="get">
		<div class="well">


           {% comment for field in filter.form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}, {{ field.name }}</label>
                        {{ field | add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            {% endcomment %}

			<div class="row">

				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-2 col-xl-1">
                    <label for="{{ filter.form.userid_name__userid.id_for_label }}">UserID</label>
                    {%comment%}{{ kein_filter.form.userid_name__userid.label_tag }}{%endcomment%}
					{% render_field filter.form.userid_name__userid class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-4 col-xl-1">
                    <label for="{{ filter.form.userid_name__name.id_for_label }}">Name beginnt mit</label>
					{% render_field filter.form.userid_name__name class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-1">
                    <label for="{{ filter.form.userid_name__orga.id_for_label }}">Team</label>
					{% render_field filter.form.userid_name__orga class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.enthalten_in_af.label_tag }}
					{% render_field filter.form.enthalten_in_af class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
					{{ filter.form.tf.label_tag }}
					{% render_field filter.form.tf class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                    <label for="{{ filter.form.userid_name__zi_organisation.id_for_label }}">ZI-Organisation</label>
					{% render_field filter.form.userid_name__zi_organisation class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.geloescht.label_tag }}
					{% render_field filter.form.geloescht class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-1">
					{{ filter.form.plattform.label_tag }}
					{% render_field filter.form.plattform class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
					{{ filter.form.modell__name_af_neu.label_tag }}
					{% render_field filter.form.modell__name_af_neu class="form-control" %}
				</div>
				<div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
					{{ filter.form.modell__name_gf_neu.label_tag }}
					{% render_field filter.form.modell__name_gf_neu class="form-control" %}
				</div>

			</div>

            {% comment %} Suche und Abbruch-Buttons {% endcomment %}

            <div class="form-group marin-top-3">
                    <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Suche
                    </button>
                    <a href="{% url 'index' %}" class="btn btn-default">Abbruch</a>
            </div>
        </div>
	</form>

    {% comment %} Die alte Ergebnismenge, manuell zu einer Tabelle zusammengestellt {% endcomment %}
	<table class="table table-bordered vllzulangertext">
		<thead>
			<tr class="bg-primary">
				<th>Name</th>
				<th>Team</th>
				<th>TF</th>
				<th>AF</th>
				<th>GF</th>
				<th>ZI-Orga</th>
				<th>Plattform</th>
				<th>AF Neu</th>
				<th>GF Neu</th>
				<th>Aktiv</th>
			</tr>
		</thead>
		<tbody>
			{% for row in pages %}
				<tr>
					<td class="vllzulangertext knappeTabelle">{{ row.userid_name }}</td>
                    <td class="vllzulangertext knappeTabelle">{{ row.userid_name.orga }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.tf }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.enthalten_in_af }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.gf }}</td>
                    <td class="vllzulangertext knappeTabelle">{{ row.userid_name.zi_organisation }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.plattform }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.modell.name_af_neu }}</td>
					<td class="vllzulangertext knappeTabelle">{{ row.modell.name_gf_neu }}</td>

                    {# Das "Gelöscht"-Flag wird als aktiv angezeigt und damit invertiert als Grafik #}
                    <td align="center" class="knappeTabelle">
                        {% if row.geloescht %}
                            <a href="{{ user.get_absolute_toggle_geloescht_url }}">
                                <img src="{% static 'admin/img/icon-no.svg' %}">
                            </a>
                        {% else %}
                            <a href="{{ user.get_absolute_toggle_geloescht_url }}">
                                <img src="{% static 'admin/img/icon-yes.svg' %}">
                            </a>
                        {% endif %}
                    </td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="5">Keine Treffer</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    {% comment %} Ergebnismenge über table.py eigen-konfigurierbar { % endcomment %}
        <div class="breiteTabelle" style="white-space: nowrap;">
            { % comment %} render_table meineTabelle { % endcomment %}
            {% render_table table %}
        </div>
    {% endcomment %}

    {% include "paginator.html" %}
{% endblock %}
