{% extends 'base_generic.html' %}

{% load widget_tweaks %}

{% block content %}

	<form method="get">
		<div class="well">
			<h4 style="margin-top: 0">Filter</h4>
						{% for hidden in form.hidden_fields %}
								{{ hidden }}
						{% endfor %}

			<div class="row">
				<div class="form-group col-sm-4 col-md-2">
					{{ filter.form.userid.label_tag }}
					{% render_field filter.form.userid class="form-control" %}
				</div>
				<div class="form-group col-sm-4 col-md-2">
					{{ filter.form.name.label_tag }}
					{% render_field filter.form.name class="form-control" %}
				</div>
				<div class="form-group col-sm-4 col-md-2">
					{{ filter.form.geloescht.label_tag }}
					{% render_field filter.form.geloescht class="form-control" %}
				</div>
			</div>
						<div class="form-group">
								<button type="submit" class="btn btn-primary">
										<span class="glyphicon glyphicon-search"></span> Suche
								</button>
								<a href="{% url 'index' %}" class="btn btn-default">Cancel</a>
						</div>
				</div>
	</form>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>UserID</th>
				<th>Name</th>
				<th>Gelöscht</th>
			</tr>
		</thead>
		<tbody>
			{% for user in pages %}
				<tr>
					<td>{{ user.userid }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.geloescht }}</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="5">Keine Treffer</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <div>
        <p>
            has prev {{ pages.has_previous }}
            pages {{ pages }}
            page_range {{ pages.paginator.page_range }}
            has next {{ pages.has_next }}
            Parameterliste: {{ request.GET }}
            URI : {{ request.build_absolute_uri }}
            URI2 : {{ request.get_full_path }}
            #URI2 : {{ request.get_full_path|length }}

        </p>
    </div>

    <div class = "container">
        <div class = "col-md-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination">

              <li class="page-item">    <!-- Jump to First Page -->
                {% if pages.number != 1 %}
                   <li class="previous">
                      <a href="?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                        <span aria-hidden="true">&laquo;</span></a>
                   </li>
                {% else %}
                    <li class="previous disabled">
                        <a><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Previous Page -->
                {% if pages.has_previous %}
                   <li class="previous">
                    <a href="?page={{ pages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">‹</a></li>
                   <span aria-hidden="true">‹</span></a>
                {% else %}
                    <li class="previous disabled"><a>‹</a>
                {% endif %}
              </li>

              {% if pages.has_previous %}
              <li class="page-item">  <!-- Show previous set of page numbers -->
                  <li class="previous">
                    <a class="skip_prev" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">...</a></li>
                    </li>
              {% else %}
                    <li class="next disabled"><a>...</a>
                    </li>
              {% endif %}
              </li>

              {% for i in "12345" %}
            <!-- Change the range ("12345") according to your choice to show numbers -->
                <li class="pg" data = {{i}}><a class="page_number" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a></li>
              {% endfor %}

              {% if pages.has_next %}
              <li class="page-item">  <!-- Show next set of page numbers -->
                  <li class="previous">
                    <a class="skip_next" href="{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">...</a>
                  </li>
              {% else %}
                    <li class="next disabled"><a>...</a>
                    </li>
              {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Next Page -->
                {% if pages.has_next %}
                    <a class="previous" href="?page={{ pages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">›</a></li>
                {% else %}
                    <li class="next disabled"><a>›</a></li>
                {% endif %}
              </li>

              <li class="page-item">  <!-- Jump to Last Page -->
                {% if pages.number != pages.paginator.num_pages %}
                  <li class="previous">
                    <a class="previous" href="?page={{ pages.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">»</a></li>
                {% else %}
                    <li class="next disabled"><a>›</a></li>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
    </div>


{% endblock %}
