<!DOCTYPE html>
{% load static %}
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}RechteDB für ZI-AI-BA{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Faster+One" rel="stylesheet">
 		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-expand-xl navbar-dark bg-primary">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'RechteDB-Logo.png' %}" height="40rem">
			</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
					aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" <a href="{% url 'home' %}">Startseite <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{% url 'panel' %}?geloescht=3&userid_name__geloescht=3&userid_name__zi_organisation=ai-ba">Suche</a>
                    {% comment %}
					<a class="nav-item nav-link" href="{% url 'user_rolle_af' %}?geloescht=3&userid_name__geloescht=3&userid_name__name=eichler, lutz">User und Rollen</a>
                    {% endcomment %}
					<a class="nav-item nav-link" href="{% url 'user_rolle_af' %}?userid__geloescht=3&userid__name=eichler, lutz">User und Rollen</a>
                    <a class="nav-item nav-link" href="{% url 'import' %}">Import IIQ-Daten</a>
                    <a class="nav-item nav-link" href="{% url 'userliste' %}">UserID-Liste</a>
                    <a class="nav-item nav-link" href="{% url 'teamliste' %}">Team-Liste</a>
                    <a class="nav-item nav-link" href="/admin">Admin-Sichten</a>

                    <a class="nav-item nav-link" href="{% url 'stored_procedures' %}">DB Aufsetzen</a>
                </div>
            </div>

		</nav>

		<div class="container-fluid">
			<ol class="breadcrumb my-4">
				{% block breadcrumb %}
				{% endblock %}
			</ol>
			{% block content %}
			{% endblock %}
		</div>

		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		{% block script %}
			<!-- Tiny script for pagination in filtered views (https://djangopy.org/how-to/pagination-with-django/) -->
			<script>
			$(document).ready(function(){

			var skip_pages = 5; //change your number accordingly you want to show numbers

			var total_pages = {{pages.paginator.num_pages}};
			var current_page = {{pages.number}};
			var factor = Math.floor(current_page/skip_pages);

			$(".page_number").each(function(i, obj) {   //Showing the discrete numbers
			var page = factor*(skip_pages) + i + 1;
			if(current_page%skip_pages == 0)
			page = (factor-1)*skip_pages + i + 1;
			if(page - 1 < total_pages){
			$(this).html(page);
			existing = $(this).attr("href");
			$(this).attr("href", "?page=" + page + existing);
			}
			else{
			var x = i+1;
			$('li[data=' + x + ']').css("display", "none");
			}
			});
			var page = current_page%skip_pages;
			if(page == 0)
			page = skip_pages;
			$('li[data=' + page + ']').each(function(){   //Deciding the active class
			$('li[data=' + page + ']').addClass("active");
			});

			$(".skip_next").click(function(){   //Skip next ... Function
			if(current_page%skip_pages == 0)
			factor = factor-1;
			var page = (factor+1)*skip_pages + 1;
			existing = $(this).attr("href");
			if(page < total_pages)
			$(this).attr("href", "?page=" + page + existing);
			else
			$(this).attr("href", "?page=" + total_pages + existing);
			})
			$(".skip_prev").click(function(){ //Skip Previous ... Function
			if(current_page%skip_pages == 0)
			factor = factor-1;
			var page = skip_pages*(factor-1) + 1;
			existing = $(this).attr("href");
			if(page > 0)
			$(this).attr("href", "?page=" + page + existing);
			else
			$(this).attr("href", "?page=" + "1" + existing);
			})
			});
			</script>
		{% endblock script %}
	</body>
</html>


