{% extends "base_generic.html" %}

{% block content %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Start</li>
</ol>

<h1>Hauptseite</h1>

<p>Willkommen in der <em>RechteDB</em>,
	einer sehr einfachen Django Website zur Pflege der Berechtigungsdaten für die Abteilung
</p>

<div class="container-fluid rounded bg-success">
  <div class="row ">
    <div class="col col-sm-5">
      <h3>Statistik aus MariaDB</h3>
    </div>
  </div>
  <div class="container rounded bg-success">
    <div class="row ">
      <div class="col col-sm-3">
        <strong>Administrierte Berechtigungen:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_rights }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Aktive Rechte:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_active_rights }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Administrierte UserIDs:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_userIDs }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Aktive UserIDs:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_activeUserIDs }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>UserIDs von AI-BA:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_userIDsInDepartment }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Vorhandene Teams:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_teams }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Bekannte Plattformen:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_plattforms }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Anwender der RechteDB:</strong>
      </div>
      <div class="col col-sm-1 text-right">{{ num_users }}</div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        <strong>Aktuelle TFen in AI-BA:</strong>
      </div>
      <div class="col col-sm-1 text-right ">{{ num_iam_ba }}</div>
    </div>
    <div class="row"><div class="col col-sm-3">&nbsp;</div></div>
  </div>
</div>

{% endblock %}
